/**
 *  Settings Global do CSS (Stylus)
 *  - Essas Configurações são chamados em todos arquivos styles 
 *  - Não se deve inserir estruturas css, é permitido somente variaves e funções
 */

// Placeholder
// $button 
//     display: inline-block 
//     padding: 13px 15px
//     border-radius: 0
//     font-size: 14px
//     font-weight: regular
//     background: rgba(0,0,0,.5)
//     color: #fff
//     &:hover 
//         text-decoration: none 

// mixins
container(args...) 
    width: 100%
    max-width: args 
    padding: 0 (30px/2)


// media queries breakpoints
desktop = unquote("screen and (min-width: 992px)")
mobile = unquote("screen and (max-width: 991px)")

// Color
colorBlack = #222;
colorGray = #ccc;
colorWhite = #FFF;
color1 = #3760a6;
color2 = #e0e3ff;
color3 = #f6f5fc;
color4 = #feca1b;
// transition
transition = all 222ms ease-out;

// transition
transition = all .2s ease-out